* {
  text-align: center;
}

body {
  background-image: url('../mgs/tmpry-1.jpg');
  background-position: center;
  background-size: cover;
}

h1, h2 {
  font-family: 'Mountains of Christmas', cursive;
  color: white;
}

h3 {
  font-family: "Arial";
  font-variant: small-caps;
  color: black;
}

img {
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
}
