* {
  text-align: center;
}

body {
  background-image: url('../mgs/tmpry-1.jpg');
  background-position: center;
  background-size: cover;
}

h1, h2 {
  font-family: 'Mountains of Christmas', cursive;
  color: white;
}

h3 {
  font-family: "Arial";
  font-variant: small-caps;
  color: black;
}

.image-container {
  overflow: hidden;
  max-width: 100%;

}

.image-container img {
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
}

@media only screen and (max-width: 432px) { /* experimenting */

}

@media only screen and (max-width: 768px) { /* most common desktop */

}

@media only screen and (max-width: 1080px) { /* almost most common desktop */

}

@media only screen and (max-width: 640px) { /* mobile */

}

@media only screen and (max-width: 1024px) { /* tablet */

}