* {
  text-align: center;
  color: white;
  font-family: 'Mountains of Christmas', cursive;
}

body {
  background-image: url('temporary.jpg');
  background-position: center;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  color: white;
}

.main {
  text-align: center;
}

a, em, strong {
  color: black;
}
